@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Система анализа электрокардиограмм</h1>
    </div>
    <p>Система предоставляет возможность:</p>
    <ul>
        <li>загрузить файл электрокардиограммы с компьютера;</li>
        <li>просмотреть отчёт в форме графика;</li>
        <li>в % получить вероятность нахождения определённых патологий на экг-записи;</li>
        <li>получить координаты расположения каждой патологии на экг-записи.</li>
    </ul>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

